*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    background-color: #282a36;
    font-size: 12pt;
}
.ql-toolbar{
    background-color: gray;
    margin: auto;
    padding: 2cm 1cm 1cm 2cm;
    width: 21cm;
    position: fixed;
    top:0
}
#full-report{
    background-color: whitesmoke;
    margin: auto;
    padding: 2cm 1cm 1cm 2cm;
    width: 21cm;
}
#full-report h1{
    color:black;
    font-size: 1.5rem;
    padding: 2rem 0rem 1rem 0rem;
    text-align: center;    
}
#full-report h2{
    color:black;
    font-size: 1.2rem;
    padding: 1rem 0rem 0.5rem 0rem;
    text-align: left;    
}
#full-report h3{
    color:black;
    font-size: 1.0rem;
    padding: 0rem 0rem 0.3rem 2rem;
    text-align: left;    
}
#full-report p.class-preamble{
    margin-left: 10rem;
    font-size: 0.9rem;
}
#full-report p{
    color:black;
    font-size: 1.0rem;
    padding: 0rem 0rem 1rem 2rem;
    text-align: justify;   
    min-height: 1.7rem; 
}
#full-report ol{
    color:black;
    font-size: 1.0rem;
    padding: -0.5rem 0rem 1rem 2rem;
    text-align: justify;   
    min-height: 1.7rem; 
}